---
import Layout from '../layouts/Layout.astro';
import Home from '../components/home.astro';
import Mission from '../components/mission.astro';
import Services from '../components/whatWeDo.astro';
import Solutions from '../components/solutions.astro';
import Work from '../components/ourWork.astro';
import Contact from '../components/contact.astro';
import Background from '../background.css';

---

<Layout title="Home | Fluent Innovations - Web Design and Applications">
	<main>
		<div id="home" class="min-h-screen flex">
			<Home />
		</div>
		<div id="mission" class="min-h-screen flex bg-stone-100">
			<Mission />
		</div>
		<div id="services" class="min-h-screen flex bg-zinc-200">
			<Services />
		</div>	
		<div id="solutions" class="min-h-screen flex bg-zinc-500">
			<Solutions />
		</div>
		<div id="work" class="min-h-screen flex bg-white">
			<Work />
		</div>	
		<div id="contact" class="min-h-screen flex bg-zinc-200">
			<Contact />
		</div>
	</main>	
</Layout>
