---
import Layout from '../layouts/Layout.astro';
import Home from '../components/home.astro';
import Mission from '../components/mission.astro';
import Services from '../components/whatWeDo.astro';
import Solutions from '../components/solutions.astro';
import Work from '../components/ourWork.astro';
import Contact from '../components/contact.astro';
---

<Layout title="Home | Fluent Innovations - Web Design and Applications">
	<main>
		<section id="home" class="min-h-screen flex">
			<Home />
		</section>
		<section id="mission" class="min-h-fit xl:min-h-screen flex bg-[url('images/lightabstract.jpg')] bg-cover">
			<Mission />
		</section>
		<section id="services" class="min-h-fit xl:min-h-screen flex bg-neutral-300">
			<Services />
		</section>	
		<section id="solutions" class="min-h-fit xl:min-h-screen flex bg-black bg-opacity-60">
			<Solutions />
		</section>
		<section id="work" class="min-h-fit xl:min-h-screen flex bg-[url('images/lightabstract.jpg')] bg-cover">
			<Work />
		</section>	
		<section id="contact" class="min-h-fit xl:min-h-screen flex bg-neutral-300">
			<Contact />
		</section>
	</main>	
</Layout>
