<!-- Contact us -->
<div class="container flex self-center">
    <div class="grid-rows-2 w-full my-20">
        <div class="text-black mb-10">
            <h2>Contact Us</h2>
            <p>Request a free quote or reach out to see how we can help you reach your business goals!</p>
        </div>
        <div class="grid md:grid-cols-2 grid-flow-row md:grid-flow-col items-center w-full">
            <div class="grid md:mr-36">
                <div class="grid md:grid-cols-2 grid-flow-row md:grid-flow-col md:gap-8 text-black">
                    <div class="mb-10">
                        <div class="mb-4">
                            <i class="ti-mobile text-3xl"></i>
                        </div>
                        <p>813.602.1731</p>
                    </div>
                    <div class="mb-10">
                        <div class="mb-4">
                            <i class="ti-location-pin text-3xl"></i>
                        </div>
                        <p>Tampa, FL <br> United States</p>
                    </div>
                </div>
                <div class="grid md:grid-cols-2 grid-flow-row md:grid-flow-col md:gap-8 text-black">
                    <div class="mb-10">
                        <div class="mb-4">
                            <i class="ti-email text-3xl"></i>
                        </div>                        
                        <p><a href="mailto:info@fluentinnovations.com" class="hover:text-violet-900">info@fluentinnovations.com</a></p>
                    </div>
                </div>
            </div>
            <!-- Contact form -->
            <div class="border-2 border-gray-400">
                (form) 
            </div>
        </div>
    </div>
</div>

    