---
const props = Astro.props;
---
<!-- Contact us -->
<div class="container flex self-center my-20">
    <div class="grid-rows-2 w-full">
        <div class="text-black xl:w-1/2 px-2 mb-10">
            <h2>Contact Us</h2>
            <p>Request a free quote or reach out to see how we can help you reach your business goals!</p>
        </div>
        <div class="flex w-full flex-wrap">
            <div class="w-full lg:w-1/2 text-black">
                <div class="md:flex lg:flex-wrap lg:mr-24 xl:mr-32">
                    <div class="w-1/2 px-2 mb-12 lg:mb-6">
                        <div class="mb-4">
                            <svg xmlns="http://www.w3.org/2000/svg" width="38.4" height="64" viewBox="0 0 768 1280" {...props}>
                                <path fill="currentColor" d="M464 1152q0-33-23.5-56.5T384 1072t-56.5 23.5T304 1152t23.5 56.5T384 1232t56.5-23.5T464 1152m208-160V288q0-13-9.5-22.5T640 256H128q-13 0-22.5 9.5T96 288v704q0 13 9.5 22.5t22.5 9.5h512q13 0 22.5-9.5T672 992M480 144q0-16-16-16H304q-16 0-16 16t16 16h160q16 0 16-16m288-16v1024q0 52-38 90t-90 38H128q-52 0-90-38t-38-90V128q0-52 38-90t90-38h512q52 0 90 38t38 90" />
                            </svg>
                        </div>
                        <p>813.602.1731</p>
                    </div>
                    <div class="w-1/2 px-2 mb-12 lg:mb-6">
                        <div class="mb-4">
                            <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 21 21" {...props}>
                                <g fill="none" fill-rule="evenodd" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" transform="translate(4 2)">
                                    <path d="m6.5 16.54l.631-.711c.716-.82 1.36-1.598 1.933-2.338l.473-.624c1.975-2.661 2.963-4.773 2.963-6.334C12.5 3.201 9.814.5 6.5.5s-6 2.701-6 6.033c0 1.561.988 3.673 2.963 6.334l.473.624a54.84 54.84 0 0 0 2.564 3.05" />
                                    <circle cx="6.5" cy="6.5" r="2.5" />
                                </g>
                            </svg>
                        </div>
                        <p>Tampa, FL <br> United States</p>
                    </div>
                    <div class="w-1/2 px-2 mb-12 lg:mb-6">
                        <div class="mb-4">
                            <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 36 36" {...props}>
                                <path fill="currentColor" d="M32 6H4a2 2 0 0 0-2 2v20a2 2 0 0 0 2 2h28a2 2 0 0 0 2-2V8a2 2 0 0 0-2-2m-1.54 22H5.66l7-7.24l-1.44-1.39L4 26.84V9.52l12.43 12.37a2 2 0 0 0 2.82 0L32 9.21v17.5l-7.36-7.36l-1.41 1.41ZM5.31 8h25.07L17.84 20.47Z" class="clr-i-outline clr-i-outline-path-1" />
                                <path fill="none" d="M0 0h36v36H0z" />
                            </svg>
                        </div>                        
                        <p><a href="mailto:info@fluentinnovations.com" class="hover:text-orange-400">info@fluentinnovations.com</a></p>
                    </div>
                </div>
            </div>
            <!-- Contact form -->
            <form class="md:flex md:flex-wrap w-full lg:w-1/2">
                <div class="md:w-1/2 px-2"><input type="text" placeholder="Enter your name" required class="input" /></div>
                <div class="md:w-1/2 px-2"><input type="email" placeholder="Enter your email address" required class="input" /></div>
                <div class="w-full px-2"><input type="text" placeholder="Subject (Optional)" class="input w-full" /></div>
                <div class="w-full px-2"><textarea required class="textarea w-full h-48" placeholder="Your message here"></textarea></div>
                <div class="px-2"><button class="btn btn-outline btn-secondary">Send message</button></div>
            </form>
        </div>  
    </div>
</div>

    