<!-- Home page copyright -->
<div class="copyright fixed invisible lg:visible lg:h-12 xl:h-24 bottom-0 lg:right-8 xl:right-36 text-white">
    <p>© 2024 Fluent Innovations - All Rights Reserved - <a href="#" class="hover:none">Terms of Service</a></p>
</div>

<script>
    document.addEventListener('scroll', function () {
        const homeSection = document.getElementById('home');
        const copyright = document.querySelector('.copyright');
  
        if (homeSection && copyright) {
            const rect = homeSection.getBoundingClientRect();
            const isHomeSectionVisible = rect.top >= 0 && rect.bottom <= window.innerHeight;
  
            if (isHomeSectionVisible) {
                // Add a class to make copyright visible
                copyright.classList.remove('slide-out');
            } else {
                // Remove the class to hide copyright
                copyright.classList.add('slide-out');
            }
        }
    });
  </script> 