<!-- Footer -->
<footer class="footer lg:fixed bottom-20 text-center justify-center lg:justify-end py-16 lg:py-0 px-4 lg:px-36 bg-black lg:bg-inherit text-base text-white">
  <aside>
    <ul class="w-full mb-8 lg:hidden">
      <li class="inline-block px-6"><a href="#"><i class="ti-facebook"></i></a></li>
      <li class="inline-block px-6"><a href="#"><i class="ti-twitter-alt"></i></a></li>
      <li class="inline-block px-6"><a href="#"><i class="ti-instagram"></i></a></li> 
    </ul>
  </div>
    <span>© 2023 Fluent Innovations - All Rights Reserved - <a href="#" class="hover:none">Terms of Service</a></span>
  </aside>
</footer>