<footer class="bg-blue-200">
    <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-right md:justify-between end-0">
    <span class="text-sm text-white sm:text-right">© 2023 Fluent Innovations - All Rights Reserved - <a href="" class="hover:none">Terms of Service</a>
    </span>
    </div>
</footer>