<footer class="footer fixed bottom-20 justify-end py-0 px-36 bg-inherit text-white">
  <aside>
    <p>© 2023 Fluent Innovations - All Rights Reserved - <a href="#" class="hover:none">Terms of Service</a></p>
  </aside>
</footer>