<div class="container h-screen flex items-center">
    <div class="ml-0 basis-full md:basis-2/3 lg:basis-1/2 text-primary">
        <h1>Empowering Your Digital Potential Through Innovative Web Applications</h1>
        <p class="mb-10 text-primary font-extralight">Unleash your digital potential with Fluent Innovations: Exceptional website design and web application development. Experience 
            seamless workflow automation.</p>    
        <a href="#mission" class="btn btn-outline btn-secondary">Learn more</a>
    </div>
</div>