<!-- Home -->
<div class="container flex self-center">
    <div class="basis-full lg:basis-3/4 xl:basis-1/2 text-primary">
        <h1>Empowering Your Digital Potential Through Innovative Web Applications</h1>
        <p class="text-primary mb-10">Unleash your digital potential with Fluent Innovations: Exceptional website design and web application development. Experience 
            seamless workflow automation.</p>    
        <a href="#mission" class="btn btn-primary">Learn more</a>
    </div>
</div>