<div class="container h-screen flex items-center">
    <div class="ml-0 basis-full md:basis-2/3 lg:basis-1/2 text-white">
        <p class="text-3xl md:text-4xl leading-snug tracking-wide mb-4">Empowering your digital potential through innovative web applications</p>
        <p class="mb-10">Unleash your digital potential with Fluent Innovations: Exceptional website design and web application development. Experience 
            seamless workflow automation.</p>    
        <a href="#mission" class="btn btn-outline btn-secondary">Learn more</a>
    </div>
</div>