<!-- Our mission -->
<div class="container flex self-center my-20">
    <div class="basis-full xl:basis-3/5 px-2 text-black">
        <h2>Our Mission</h2>
        <p>Our mission is to create beautiful, visually appealing user experiences as well as build applications that seamlessly 
            integrate with your business strategies.</p>
    </div>
</div>  