<div class="fixed h-[49rem] left-20 w-[1px] bg-white bg-opacity-40"></div>
<div class="fixed h-[49rem] max-h-[49rem] left-20 w-[1px] bg-white" id="progressBarLeft"></div>
<div class="fixed h-[49rem] right-20 w-[1px] bg-white bg-opacity-40"></div>
<div class="fixed h-[49rem] right-20 w-[1px] bottom-20 bg-white" id="progressBarRight"></div>

<script>
        window.addEventListener('scroll', handleScrollLeft);

        function handleScrollLeft() {
                var winScroll = document.body.scrollTop || document.documentElement.scrollTop;
                var height = document.documentElement.scrollHeight - document.documentElement.clientHeight;  
                var scrolled = (winScroll / height) * 100;
                
                document.getElementById("progressBarLeft").style.height = scrolled + "%";
        }

        window.addEventListener('scroll', handleScrollRight);

        function handleScrollRight() {
        var winScroll = document.body.scrollTop || document.documentElement.scrollTop;
        var height = document.documentElement.scrollHeight - document.documentElement.clientHeight;  
        var scrolled = (winScroll / height) * 100;

        document.getElementById("progressBarRight").style.height = scrolled + "%";
        }
</script>
