<!-- Scroll progress -->

<!-- Left scroll -->
<div class="fixed h-[49rem] left-20 w-[1px] bg-primary bg-opacity-40 invisible xl:visible"></div>
<div class="fixed h-[49rem] max-h-[49rem] left-20 w-[1px] bg-primary invisible xl:visible" id="progressBarLeft"></div>

<!-- Right scroll -->
<div class="fixed h-[49rem] right-20 w-[1px] bg-primary bg-opacity-40 invisible xl:visible"></div>
<div class="fixed h-[49rem] right-20 w-[1px] bottom-20 bg-primary invisible xl:visible" id="progressBarRight"></div>

<!-- JS -->
<script>
        window.addEventListener('scroll', handleScrollLeft);

        function handleScrollLeft() {
                var winScroll = document.body.scrollTop || document.documentElement.scrollTop;
                var height = document.documentElement.scrollHeight - document.documentElement.clientHeight;  
                var scrolled = (winScroll / height) * 100;
                
                document.getElementById("progressBarLeft").style.height = scrolled + "%";
        }

        window.addEventListener('scroll', handleScrollRight);

        function handleScrollRight() {
        var winScroll = document.body.scrollTop || document.documentElement.scrollTop;
        var height = document.documentElement.scrollHeight - document.documentElement.clientHeight;  
        var scrolled = (winScroll / height) * 100;

        document.getElementById("progressBarRight").style.height = scrolled + "%";
        }
</script>
