<div class="scrollprogress border-2 border-red-500 -rotate-90">
    <progress class="progress w-full" value="10" max="100"></progress>

    <a href="/" class="btn"><i class="ti-angle-right text-sm pr-3"></i>Back To Top</a>
</div>

