<!-- Side nav -->

<!-- Social icons -->
<div class="fixed h-[49rem] w-20 left-1 grid grid-flow-row content-end justify-center text-md invisible lg:visible">
    <div><a href="#"><i class="fab fa-facebook-f fa-fw text-primary"></i></a></div>
    <div class="pt-6"><a href="#"><i class="fab fa-x-twitter fa-fw text-primary"></i></a></div>
    <div class="pt-6"><a href="#"><i class="fab fa-instagram fa-fw text-primary"></i></a></div>
</div>

<!-- Back to top -->
<div class="fixed h-[49rem] w-20 right-1 grid grid-flow-row content-end text-primary text-sm invisible xl:visible">
    <div class="-rotate-90 mb-12"><a href="/">Back To Top</a></div>
    <div><a href="/" class="grid justify-center"><i class="fas fa-angle-up text-primary"></i></a></div>
</div>