<!-- Side nav -->
<div class="fixed h-[49rem] w-20 left-1 grid grid-flow-row content-end justify-center text-primary text-md invisible lg:visible">
    <div><a href="#"><i class="ti-facebook"></i></a></div>
    <div class="pt-6"><a href="#"><i class="ti-twitter"></i></a></div>
    <div class="pt-6"><a href="#"><i class="ti-instagram"></i></a></div>
</div>

<div class="fixed h-[49rem] w-20 right-1 grid grid-flow-row content-end text-primary text-sm invisible xl:visible">
    <div class="-rotate-90 mb-12"><a href="/">Back To Top</a></div>
    <div><a href="/" class="grid justify-center"><i class="fas fa-angle-up"></i></a></div>
</div>