<!-- Our solutions -->
<div class="container flex self-center">
    <div class="h-fit grid my-20">
        <div class="flex text-white mb-12">
            <div class="basis-full md:basis-3/5">
                <h2>A complete marketing solution</h2>
                <p>Mauris ut sem elementum, tristique velit sed, volutpat mauris. Ut interdum nibh sit amet imperdiet condimentum. Nulla sed 
                    tellus placerat, vehicula risus ac, sollicitudin quam. Quisque pharetra porta libero, a sagittis nisl tristique non.</p>
            </div>
        </div>
        <div class="md:columns-2 gap-8 text-white">
            <div class="mb-12">
                <h3>We are</h3>
                <p>Quisque ultrices non velit sit amet consectetur. Cras turpis dolor, facilisis a nibh non, ullamcorper facilisis mauris. Nulla rutrum 
                    arcu sed ligula malesuada, quis condimentum eros sollicitudin. Morbi eget lorem turpis. Maecenas id metus sapien. Aliquam et est 
                    turpis. Sed sit amet dui vel sapien sagittis pellentesque nec id sem.</p>
            </div>
            <div class="mb-12 md:mb-0">
                <h3>We deliver</h3>
                <p>Quisque ultrices non velit sit amet consectetur. Cras turpis dolor, facilisis a nibh non, ullamcorper facilisis mauris. Nulla rutrum 
                    arcu sed ligula malesuada, quis condimentum eros sollicitudin. Morbi eget lorem turpis. Maecenas id metus sapien. Aliquam et est 
                    turpis. Sed sit amet dui vel sapien sagittis pellentesque nec id sem.</p>
            </div>
            <div class="mb-12">
                <h3>We practice</h3>
                <p>Quisque ultrices non velit sit amet consectetur. Cras turpis dolor, facilisis a nibh non, ullamcorper facilisis mauris. Nulla rutrum 
                    arcu sed ligula malesuada, quis condimentum eros sollicitudin. Morbi eget lorem turpis. Maecenas id metus sapien. Aliquam et est 
                    turpis. Sed sit amet dui vel sapien sagittis pellentesque nec id sem.</p>
            </div>
            <div>
                <h3>We create and innovate</h3>
                <p>Quisque ultrices non velit sit amet consectetur. Cras turpis dolor, facilisis a nibh non, ullamcorper facilisis mauris. Nulla rutrum 
                    arcu sed ligula malesuada, quis condimentum eros sollicitudin. Morbi eget lorem turpis. Maecenas id metus sapien. Aliquam et est 
                    turpis. Sed sit amet dui vel sapien sagittis pellentesque nec id sem.</p>
            </div>
        </div>
    </div>  
</div>