<div class="container h-fit min-h-screen md:h-screen flex md:items-center">  
    <div class="grid md:grid-cols-2 grid-flow-row md:grid-flow-col my-20">
        <div class="w-full md:w-4/5 mb-12 text-black">
            <h2>What We Do</h2>
            <p class="mb-4">Ground up design of your customer facing experiences as well as custom application building with capabilities such as:</p>
            <ul class="list-disc list-inside ml-8">
                <li>Web scraping</li>
                <li>Automating routine tasks</li>
                <li>Database creation and management</li>
                <li>Real time dashboards, reports and analytics</li>
                <li>Application and website hosting</li>
            </ul>
        </div>
        <div class="w-full text-black">
            <div class="grid md:grid-cols-2 grid-flow-row md:grid-flow-col md:gap-2">
                <div class="px-4 mb-12">
                    <div class="mb-4">
                        <i class="ti-timer text-5xl"></i>
                    </div>
                    <h3>Launch Quickly</h3>
                </div>
                <div class="px-4 mb-12">
                    <div class="mb-4">
                        <i class="ti-brush-alt text-5xl"></i>
                    </div>
                    <h3>Stylish Design</h3>
                </div>
            </div>
            <div class="grid md:grid-cols-2 grid-flow-row md:grid-flow-col md:gap-2 text-black">
                <div class="px-4 mb-12">
                    <div class="mb-4">
                        <i class="ti-book text-5xl"></i>
                    </div>                        
                    <h3>Well Documented</h3>
                </div>
                <div class="px-4 mb-12">
                    <div class="mb-4">
                        <i class="ti-layers text-5xl"></i>
                    </div>                        
                    <h3>Multiple Styles<h3>
                </div>
            </div>
            <div class="grid md:grid-cols-2 grid-flow-row md:grid-flow-col md:gap-2 text-black">
                <div class="px-4 mb-12 md:mb-0 border-2">
                    <div class="mb-4">
                        <i class="ti-settings text-5xl"></i>
                    </div>                        
                    <h3>Fully Customizable</h3>
                </div>
                <div class="px-4">
                    <div class="mb-4">
                        <i class="ti-headphone-alt text-5xl"></i>
                    </div>                        
                    <h3>Friendly Support</h3>
                </div>
            </div>
        </div>
    </div>
</div>

    