/* The integration's default injected base.css file */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'montserrat';
    src: url('../public/fonts/montserrat.ttf') format('ttf');
}

@font-face {
    font-family: 'roboto';
    src: url('../public/fonts/roboto.ttf') format('ttf');
}

@layer base {
  h1 {
    @apply text-3xl lg:text-4xl font-bold tracking-wide leading-snug mb-6;
  }
  h2 {
    @apply text-xl font-light tracking-wide leading-snug mb-4;
  }
  h3 {
    @apply text-lg font-light leading-snug mb-4;
  }
  p {
    @apply font-extralight leading-relaxed;
  }
}

.fa-stack-1x { font-size: 1.3em; }
i { vertical-align: middle;}

.btn {
  @apply mix-blend-lighten transition duration-200 ease-in hover:ease-in hover:bg-accent hover:text-primary hover:border-transparent;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: white;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: #f0abfc;
  transform-origin: bottom left;
  transition: transform 0.20s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
