/* The integration's default injected base.css file */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'montserrat';
    src: url('../public/fonts/montserrat.ttf') format('ttf');
}

@font-face {
    font-family: 'roboto';
    src: url('../public/fonts/roboto.ttf') format('ttf');
}

@layer base {
  h1 {
    @apply text-3xl lg:text-4xl font-bold tracking-wider leading-tight mb-4;
  }
  h2 {
    @apply text-xl font-medium tracking-wider leading-snug mb-4;
  }
  h3 {
    @apply text-lg tracking-wide leading-snug mb-4;
  }
}

/* h2 {
  font-size: 1.875rem;
  font-weight: 700;
  letter-spacing: 0.05em;
  line-height: 1.375;
  margin-bottom: 1rem;
} */

/* @layer utilities {
    .font-expanded {
      font-stretch: expanded;
    }
  } */