---
import "../base.css"
import "../themify-icons.css"
import Navbar from '../components/Navbar.astro';
import Copyright from "../components/copyright.astro";
import Footer from '../components/Footer.astro';
import ScrollProgress from '../components/scrollProgress.astro';
import SideSocialIcons from '../components/sideSocialIcons.astro';
import BackToTopBtn from "../components/backToTopBtn.astro";
import '../background.css';	

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html class="scroll-smooth" lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/FIicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<script src="https://kit.fontawesome.com/8915c7ee57.js" crossorigin="anonymous"></script>
	</head>
	
	<body>
		<Navbar />
		<SideSocialIcons />
		<BackToTopBtn />
		<ScrollProgress />
		<Copyright />
		<slot />
		<Footer />
	</body>
</html>

