---
import "../base.css"
import "../themify-icons.css"
import Navbar from '../components/Navbar.astro';
import Copyright from "../components/copyright.astro";
import Footer from '../components/Footer.astro';
import ScrollProgress from '../components/scrollProgress.astro';
import SideNav from '../components/sideNav.astro';
import Background from '../background.css';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html class="scroll-smooth" lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<script src="https://kit.fontawesome.com/8915c7ee57.js" crossorigin="anonymous"></script>
	</head>
	
	<body class={Background}>
		<Navbar />
		<Copyright />
		<SideNav />
		<ScrollProgress />
		<slot />
		<Footer />
	</body>
</html>

