---
import "../base.css"
import "../themify-icons.css"
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import ScrollProgress from '../components/scrollProgress.astro';
import TestNav from "../components/testNav.astro";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html class="scroll-smooth" lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	
	<body>
		<div><Navbar /></div>
		<div><slot /></div>
		<div><ScrollProgress /></div>
		<div><Footer /></div>
		
	</body>
	
</html>